<div id="<%= dom_id admin_profile %>">
  <p>
    <strong>Name:</strong>
    <%= admin_profile.name %>
  </p>

  <p>
    <strong>Desingation:</strong>
    <%= admin_profile.desingation %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= admin_profile.department %>
  </p>

</div>
