<p style="color: green"><%= notice %></p>

<h1>Admin profiles</h1>

<div id="admin_profiles">
  <% @admin_profiles.each do |admin_profile| %>
    <%= render admin_profile %>
    <p>
      <%= link_to "Show this admin profile", admin_profile %>
    </p>
  <% end %>
</div>

<%= link_to "New admin profile", new_admin_profile_path %>
